@media screen and (max-width: 768px) {
    body {
        font-family: sans-serif;
        background-image: url('images/background(mobile).png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000000;
        color: #00F;
        text-align: center;
        padding: 20px;
    }
    #chatbox {
        border: 1px solid #ecf0f1;
        border-radius: 20px;
        padding: 10px;
        margin: 20px auto;
        width: 300px;
        height: 200px;
        overflow-y: scroll;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }
    #userInput {
        width: 300px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }
    #sendButton {
        padding: 10px 20px;
        cursor: pointer;
        background-color: #00000000;
        border: 2px solid #000000;
        color: white;
        margin: 5px;
    }
    #questContainer {
        border: 2px solid #444;
        border-radius: 20px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        color: #fff;
        border-radius: 5px;
        width: 300px;
    }
    #questList {
        white-space: pre-line;
    }
    #questMessage {
        display: none;
        text-align: center;
        font-weight: bold;
        color: green;
    }
    .fade-in {
        animation: fadeIn 0.5s ease-in-out;
    }
    @keyframes fadeIn {
        from {
            opacity: 0; 
        }
        to {
            opacity: 1;
        }
    }
    .btn {
        margin: 100px;
        padding: 15px 40px;
        border: none;
        outline: none;
        color: #FFF;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 12px;
        font-size: 16px;
    }
    .btn::after {
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    /* glow */
    .btn::before {
        content: "";
        background: linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height:  calc(100% + 4px);
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
        opacity: 0;
    }
    
    @keyframes glowing {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    
    /* hover */
    .btn:hover::before {
        opacity: 1;
    }

    .btn:active:after {
        background: transparent;
    }
    
    .btn:active {
        color: #000;
        font-weight: bold;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-family: sans-serif;
        background-image: url('images/background(pc).png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000000;
        color: #00F;
        text-align: center;
        padding: 20px;
    }
    #chatbox {
        border: 1px solid #ecf0f1;
        padding: 10px;
        margin: 20px auto;
        width: 300px;
        height: 200px;
        overflow-y: scroll;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        backdrop-filter: blur(10px);
    }
    #userInput {
        width: 300px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }
    #sendButton {
        padding: 10px 20px;
        cursor: pointer;
        background-color: #00000000;
        border: 2px solid #000000;
        color: white;
        margin: 5px;
    }
    #questContainer {
        border: 2px solid #444;
        padding: 10px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        color: #fff;
        border-radius: 5px;
        width: 300px;
    }
    #questList {
        white-space: pre-line;
    }
    #questMessage {
        display: none;
        text-align: center;
        font-weight: bold;
        color: green;
    }
    .fade-in {
        animation: fadeIn 0.5s ease-in-out;
    }
    @keyframes fadeIn {
        from {
            opacity: 0; 
        }
        to {
            opacity: 1;
        }
    }
    .btn {
        margin: 100px;
        padding: 15px 40px;
        border: none;
        outline: none;
        color: #FFF;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 12px;
        font-size: 16px;
    }
    .btn::after {
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    /* glow */
    .btn::before {
        content: "";
        background: linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height:  calc(100% + 4px);
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
        opacity: 0;
    }
    
    @keyframes glowing {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    
    /* hover */
    .btn:hover::before {
        opacity: 1;
    }

    .btn:active:after {
        background: transparent;
    }
    
    .btn:active {
        color: #000;
        font-weight: bold;
    }
        }
